*{
    padding: 0px;
    margin: 0px;
}
body{
    width: 100%;
    height: 100vh;
    background-color: cadetblue;
    display: flex;
    align-items: center;
    justify-content: center;
}
#container{
    width: 60%;
    height: 70vh;
    background-color: white;
    border-radius: 15px;
    box-shadow: 2px 2px 5px black;
}
#leftdiv{
    width: 55%;
    height: 70vh;
    /* background-color: rgb(184, 162, 115); */
    float: left;
}
#rightdiv{
    width: 45%;
    height: 70vh;
    background-color: rgb(185, 55, 146);
    border-radius: 150px 5px 5px 150px;
    float: left;
}
#signin,#head{
    position: relative;
    top: 50px;
    left: 33%;
}
h3{
    position: absolute;
    top: 38%;
    left: 28%;
}
input{
    width: 20%;
    height: 10px;
    font-size: 20px;
    font-weight: bold;
}
#email,#password{
    position: absolute;
    top: 45%;
    left: 25%;
    padding: 20px;
}
#password{
  top:55% ;
}
h4{
    position: absolute;
    top: 68%;
    left: 32%;
}
#head{
   left: 25%;
   top: 27%;
   color: white;
}
pre{
    position: absolute;
    top: 45%;
    left: 55%;
    font-size: 16px;
    font-weight: bold;
    color: white;
}
#signup,#sign{
    position: absolute;
    top: 60%;
    left: 62%;
    width: 10%;
    height: 30px;
    font-size: 20px;
    font-weight: bold;
    background-color: purple;
    border-radius: 5px;
    box-shadow: 2px 2px 5px white;
    color: white;
    cursor: pointer;
}
#signup:hover{
    transform: scale(1.2);
}
#sign:hover{
    transform: scale(1.2);
}
#sign{
    position: absolute;
    top: 73%;
    left: 31%;
    box-shadow: 2px 2px 5px black;
}
#google,#facebook,#insta{
    position: absolute;
    top: 34%;
    left: 30%;
    font-size: 18px;
    cursor: pointer;
}
#facebook{
    left: 33%;
}
#insta{
    left: 36%;
}
